
[*.{appxmanifest,axaml,axml,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,paml,proj,props,resw,resx,StyleCop,targets,tasks,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = tab
indent_size = tab
tab_width = 4

[*]

# ReSharper properties
resharper_anonymous_method_declaration_braces = do_not_change
resharper_autodetect_indent_settings = true
resharper_break_template_declaration = do_not_change
resharper_case_block_braces = end_of_line_no_space
resharper_cpp_alignment_tab_fill_style = optimal_fill
resharper_cpp_indent_style = tab
resharper_cpp_keep_user_linebreaks = false
resharper_cpp_use_indent_from_vs = false
resharper_cpp_wrap_lines = false
resharper_disable_space_changes_before_trailing_comment = true
resharper_empty_block_style = multiline
resharper_function_declaration_return_type_style = do_not_change
resharper_function_definition_return_type_style = do_not_change
resharper_indent_preprocessor_directives = do_not_change
resharper_int_align_comments = true
resharper_namespace_declaration_braces = end_of_line
resharper_new_line_before_catch = false
resharper_other_braces = do_not_change
resharper_outdent_commas = true
resharper_outdent_dots = true
resharper_place_namespace_definitions_on_same_line = true
resharper_requires_expression_braces = do_not_change
resharper_simple_block_style = do_not_change
resharper_simple_case_statement_style = do_not_change
resharper_simple_embedded_statement_style = line_break
resharper_space_before_comma = false
resharper_space_between_closing_angle_brackets_in_template_args = true
resharper_space_between_method_call_parameter_list_parentheses = true
resharper_space_between_method_declaration_parameter_list_parentheses = true
resharper_space_between_parentheses_of_control_flow_statements = true
resharper_space_within_empty_template_params = true
resharper_space_within_initializer_braces = true
resharper_space_within_parentheses = true
resharper_space_within_template_args = false
resharper_space_within_template_params = true
resharper_toplevel_function_declaration_return_type_style = do_not_change
resharper_toplevel_function_definition_return_type_style = do_not_change
resharper_type_declaration_braces = do_not_change
resharper_wrap_after_declaration_lpar = true
resharper_wrap_after_invocation_lpar = true
resharper_wrap_base_clause_style = chop_if_long
resharper_wrap_braced_init_list_style = chop_if_long
resharper_wrap_ctor_initializer_style = chop_if_long
resharper_xml_alignment_tab_fill_style = optimal_fill
resharper_xml_indent_style = tab
resharper_xml_space_after_last_pi_attribute = true
resharper_xml_use_indent_from_vs = false
resharper_xml_wrap_lines = false
resharper_xml_wrap_tags_and_pi = false

# ReSharper inspection severities
resharper_cpp_clang_tidy_bugprone_reserved_identifier_highlighting = none

[*.{appxmanifest,axaml,axml,build,c,c++,cc,cginc,compute,config,cp,cpp,csproj,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,jsproj,lsproj,mpp,mq4,mq5,mqh,njsproj,nuspec,paml,proj,props,resw,resx,StyleCop,targets,tasks,tpp,usf,ush,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = tab
indent_size = tab
tab_width = 4
